:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-color: #00000066;
    --primary-color: #ff0000;
    --white-color-transparent: #ffffff33;
    --black-color-transparent: #00000040;
    --primary-color-transparent: #ff00004d;
    --dark-gray-color: #6a6a6a;
    --dark-black-color: #28272C;
}

.container {
    width: 1088px;
    margin: 0 auto;
}